<header class="nav-header mb-s">
    <nav class="container flex align-center space-between">
        <ul>
            <li class="flex-center">
                <a href="/admin/dashboard" class="header-title">
                    <span class="mr-s">PrintPass</span>
                    <i class="fa-solid fa-bolt text-warning font-s"></i>
                </a>
            </li>
        </ul>
        <ul class="flex align-center justify-center">
            <li><a href="/admin/profile" class="nav-link flex"><div><i class="fa-solid fa-user nav-icon"></i></div><div>Hi, Admin</div></a></li>
            <li><a href="/logout" class="nav-link flex"><div><i class="fa-solid fa-arrow-right-from-bracket nav-icon"></i></div><div>Logout</div></a></li>
        </ul>
    </nav>
</header>