<div class="secondary-nav flex-center mb-1"> 
    <ul class="flex-center">
        <li class="list-none"><a href="/admin/dashboard" class="secondary-nav-link text-warning">Dashboard</a></li>
        <li class="list-none"><a href="/admin/all-users" class="secondary-nav-link">All Users</a></li>
        <li class="list-none"><a href="/admin/deleted-users" class="secondary-nav-link">Deleted Users</a></li>
        <li class="list-none"><a href="/admin/distribute-token" class="secondary-nav-link">Distribute Token</a></li>
        <li class="list-none"><a href="/admin/revoke-token" class="secondary-nav-link">Revoke Token</a></li>
        <li class="list-none"><a href="/admin/token-history" class="secondary-nav-link">Token History</a></li>
        <li class="list-none"><a href="/admin/token-receipt" class="secondary-nav-link">Token Receipt</a></li>
    </ul>
</div>