<div class="container error mb-5">
    <div class="flex-center flex-column mt-1">
        <img src="../static/img/values-2.png" class="">
        <h1 class="text-danger">Lost in Space!</h1>
        <p class="mt-1 text-center form-link"><%- msg %></p>
        <div class="mt-1"><a href="/" class="form-link" style="font-weight: 700; text-decoration: underline;">Go Home</a></div>
    </div>
</div>

