<%- include('../partials/user-header-main') %>

<div class="container flex space-between align-center mt-2 mb-2">
    <div style="margin: 2rem auto;">
      <img src="../../static/img/pricing-free.png" class="form-img-sm">
    </div>

    <div class="form-box fluid-box">
      <h1 class="title mb-1 text-center">Change Password</h1>
      <p class="desc">Please enter a new password</p>

      <% if(typeof msg != 'undefined'){ %> 
       <p class="mb-1 text-center msg <%- msg.class %>" id="msg"><%- msg.text %></p> 
      <% } %>

      <form action="/user/change-password" method="post">
          <fieldset class="form-group mb-1">
              <legend class="ml-1"><label for="old-password">Old Password</label></legend>
              <input type="password" name="oldPassword" id="old-password">
          </fieldset>
          <fieldset class="form-group mb-1">
              <legend class="ml-1"><label for="password">New Password</label></legend>
              <input type="password" name="password" id="password">
          </fieldset>
              
          <div class="flex space-between align-center link-container mb-1">
              <a class="form-link" href="/user/dashboard">Back to Dashboard</a>
              <button type="submit" class="btn-warning">Change</button>
          </div>
      </form>
  </div>
</div>

<script>
  const str = document.getElementById('msg').classList.toString()
  if(str.indexOf('success') > 1) {
      setTimeout(() => {
          window.location.href = '/user/dashboard'
      }, 4000)
  }
</script>
