<%- include('../partials/header-main') %>
<div class="container flex space-between align-center mt-7 mb-5">
    <div style="margin: 2.5rem auto;">
      <img src="../../static/img/pricing-free.png" class="form-img-sm">
    </div>

    <div class="form-box fluid-box">
      <h1 class="title mb-1 text-center">Reset Password</h1>
      <p class="desc">Please enter a new password</p>

      <% if(typeof msg != 'undefined'){ %> 
       <p class="mb-1 text-center msg <%- msg.class %>" id="msg"><%- msg.text %></p> 
      <% } %>

      <form action="" method="post">
          <input type="hidden" name="authToken" value="<%- authToken %>">
          <fieldset class="form-group mb-1">
              <legend class="ml-1"><label for="password">New Password</label></legend>
              <input type="password" name="password" id="password">
          </fieldset>
              
          <div class="flex space-between align-center link-container mb-1">
              <a class="form-link" href="/login">Login</a>
              <button type="submit" class="btn-warning">Reset</button>
          </div>
      </form>
  </div>
</div>

<script>
  const str = document.getElementById('msg').classList.toString()
  if(str.indexOf('success') > 1) {
      setTimeout(() => {
          window.location.href = '/login'
      }, 4000)
  }
</script>
